
<div class="container" >
    <h2 class="title">YAY! It’s BOGO</h2>
  <div  class="box1 " (click)="boxclicked(1)"[class.highlight-border]="box1">
    <div  class="box-content" >
     <h4>
        <input type="radio" name="unit"  value="1" [checked]="box1" >
        1 Unit
        <span class="highlight-orange">10% Off</span>
      </h4>
      <p class="Standard">Standard Price</p>
      <div class="options" [hidden]="!box1">
        <div class="labels">
          <span class="label1">Size</span>
          <span class="label2">Colour</span>
        </div>
        <div class="row">
          <label>#1</label>
          <select>
            <option>S</option>
          </select>
          <select>
            <option>Black</option>
            </select>
        </div>
        <div class="row">
          <label>#2</label>
          <select>
            <option>S</option>
           </select>
          <select>
            <option>Colour</option>
            </select>
        </div>
      </div>
     </div>
    <div class="box-prices">
      <div>$10.00 USD</div>
      <p class="strikethrough-price">$24.00 USD</p>
    </div>
  </div>

   <div  class="box2" (click)="boxclicked(2)" [class.highlight-border]="box2">
    <div  class="box-content">
     <h4>
        <input type="radio" name="unit"  value="2" [checked]="box2">
        2 Unit
        <span class="highlight-orange">20% Off</span>
        </h4>
      <p class="Standard">Standard Price</p>
      <div class="options" [hidden]="!box2">
    <div class="labels">
      <span class="label1">Size</span>
      <span class="label2">Colour</span>
    </div>
    <div class="row">
      <label>#1</label>
      <select>
        <option>S</option>
      </select>
      <select>
        <option>Black</option>
        </select>
    </div>
    <div class="row">
      <label>#2</label>
      <select>
        <option>S</option>
       </select>
      <select>
        <option>Colour</option>
        </select>
    </div>
  </div>
  </div>
    <div class="box-prices">
      <div>$18.00 USD</div>
      <p class="strikethrough-price">$24.00 USD</p>
    </div>
  </div>

  <div  class="box3" (click)="boxclicked(3)"[class.highlight-border]="box3">
    <div  class="box-content">
     <h4>
        <input type="radio" name="unit"  value="3" [checked]="box3">
        3 Unit
        <span class="highlight-orange">30% Off</span>
      </h4>
      <p class="Standard">Standard Price</p>
      <div class="options" [hidden]="!box3">
        <div class="labels">
          <span class="label1">Size</span>
          <span class="label2">Colour</span>
        </div>
        <div class="row">
          <label>#1</label>
          <select>
            <option>S</option>
          </select>
          <select>
            <option>Black</option>
            </select>
        </div>
        <div class="row">
          <label>#2</label>
          <select>
            <option>S</option>
           </select>
          <select>
            <option>Colour</option>
             </select>
        </div>
      </div>
     </div>
    <div class="box-prices">
      <div>$24.00 USD</div>
      <p class="strikethrough-price">$24.00 USD</p>
    </div>
  </div>
  <div class="summary-row">
    <p class="free-delivery">Free Delivery</p>
    <p class="total">Total: <strong>$18.00 USD</strong></p>
  </div>
    <button class="add-to-cart">+ Add to Cart</button>
</div>

